.language-learner-reading {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.language-learner-reading-input {
    width:80%;
    height: 45%;
    font-size: x-large;
    resize: vertical;
}
.language-learner-reading-tokens {
    display: flex;
    width:80%;
    min-height: 45%;
    flex-wrap: wrap;
    overflow: auto;
    scroll-behavior: smooth;
}
.language-learner-reading-token{
    padding: 5px;        
}
.language-learner-reading-token:hover{
    padding: 5px;        
    background-color: teal;
}
