.Android {
  text-align: center;
  width: 100vw;
  height: 92vh;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 8vh;
}

:root {
  --animate-duration: .2s!important;
}
.android-app-content{
  height: 90%;
  width: 100%;  
  background-color: grey;
}
.android-bottom-bar{
  height: 10%;
  width: 100%;
}