.Windows {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.start-menu-animation {
    position: fixed;
    bottom:6vh;
    width: 20%;
    height: 25%;
    background: rgb(0 128 128 / 80%);
    display: flex;
}

:root {
  --animate-duration: .2s!important;
}